:root {
    --background--light:hsl(293,100%,98%);
    --on-background-light:hsl(264,8%,12%);
    --surface-light:hsl(293,100%,98%);
    --on-surface-light:hsl(264,8%,12%);
    --on-surface-variant-light:hsl(264,7%,29%);
    --surface-container-low-light:hsl(278,44%,96%);
    --surface-container-light:hsl(276,28%,95%);
    --surface-bright-light:hsl(293,100%,98%);
    --primary-light:hsl(256,34%,48%);
    --on-primary-light:hsl(0,0%,100%);
    --outline-light:hsl(270,4%,47%);
    --outline-variant-light:hsl(270,11%,79%);
    --background-dark:hsl(0, 0%, 0%);
    --on-background-dark:hsl(289,170%,90%);
    --surface-dark:hsl(266,14%,8%);
    --on-surface-dark:hsl(280,17%,90%);
    --on-surface-variant-dark:hsl(276,11%,79%);
    --surface-container-low-dark:hsl(264,8%,12%);
    --surface-container-dark:hsl(257,10%,14%);
    --surface-bright-dark:hsl(270%,5%,23%);
    --primary-dark:hsl(258,100%,87%);
    --on-primary-dark:hsl(259,58%,28%);
    --outline-dark:hsl(264,5%,58%);
    --outline-variant-dark:hsl(264,7%,29%);

    --font-primary : 'Roboto', sans-serif;
    --font-secondary : 'Roboto', sans-serif;

    /* font size */
    --base-font-size: 62.5%;
    --display-large: 5.7rem;
    --display-medium: 4.5rem;
    --display-small: 3.6rem;
    --headline-large: 3.2rem;
    --headline-medium: 2.8rem;
    --headline-small: 2.4rem;
    --title-large: 2rem;
    --title-medium: 1.6rem;
    --title-small: 1.4rem;
    --label-large: 1.4rem;
    --label-medium: 1.2rem;
    --label-small: 1.1rem;
    --body-large: 1.6rem;
    --body-medium: 1.4rem;
    --body-small: 1.2rem;  
    
    /* font weight */
    --weight-regular: 400;
    --weight-medium: 500;

    /* border radius */
    --radius-extra-small: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-full: 500px;
    --radius-circle: 50%;

    /*box`shadow */
    --elevation-1: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --elevation-2: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    /*others */
    --section-padding: 24px;
    --top-bar-height: 64px;
    
}

[data-theme="light"] {
    color-scheme: light;
    --background: var(--background-light);
    --on-background: var(--on-background-light);
    --surface: var(--surface-light);
    --on-surface: var(--on-surface-light);
    --on-surface-variant: var(--on-surface-variant-light);
    --surface-container-low: var(--surface-container-low-light);
    --surface-container: var(--surface-container-light);
    --surface-bright: var(--surface-bright-light);
    --primary: var(--primary-light);
    --on-primary: var(--on-primary-light);
    --outline: var(--outline-light);
    --outline-variant: var(--outline-variant-light);
}
[data-theme="dark"]{
    color-scheme: dark;
    --background: var(--background-dark);
    --on-background: var(--on-background-dark);
    --surface: var(--surface-dark);
    --on-surface: var(--on-surface-dark);
    --on-surface-variant: var(--on-surface-variant-dark);
    --surface-container-low: var(--surface-container-low-dark);
    --surface-container: var(--surface-container-dark);
    --surface-bright: var(--surface-bright-dark);
    --primary: var(--primary-dark);
    --on-primary: var(--on-primary-dark);
    --outline: var(--outline-dark);
    --outline-variant: var(--outline-variant-dark);
}

@media (prefers-reduced-motion: no-preference) {
    :root{
        --motion-duration-short: 100ms;
        --motion-easing-linear:cubic-bezier(0,0,1,1);
    }
}

*
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {list-style: none;}

a,
img,
span,
input,
button,
textarea {display:block}

a {color: inherit;
text-decoration: none;}

a:link {color: inherit;}
a:visited {color: inherit;}
a:hover {text-decoration: underline;
color: hotpink;}
a:active {color: blue;}

img {height:auto;}

input,
button,
textarea {border: none;
background: none;
outline: none;
font:inherit;}

input,
textarea {width:100%}

button {cursor: pointer;}

textarea {resize: none;}

html {
    font-size: var(--base-font-size);
    font-family: var(--font-primary);
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: var(--body-large);
    line-height: 1.6;
    color: var(--on-background);
    background-color: var(--background);
    transition: background-color var(--motion-duration-short) var(--motion-easing-linear), color var(--motion-duration-short) var(--motion-easing-linear);
}

.display-large {font-size: var(--display-large);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height: 64px;
letter-spacing:-0.25px;}

.display-medium {font-size: var(--display-medium);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height:52px;}

.display-small {font-size: var(--display-small);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height: 44px;}

.heading-large {font-size: var(--headline-large);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height: 40px;}

.heading-medium {font-size: var(--headline-medium);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height: 36px;}

.heading-small {font-size: var(--headline-small);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height: 32px;}

.title-large {font-size: var(--title-large);
font-family: var(--font-primary);
font-weight: var(--weight-medium);
line-height: 28px;}

.title-medium {font-size: var(--title-medium);
font-family: var(--font-primary);
font-weight: var(--weight-medium);
line-height: 24px;
letter-spacing: 0.15px;}

.title-small {font-size: var(--title-small);
font-family: var(--font-primary);
font-weight: var(--weight-rmedium);
line-height: 20px;
letter-spacing: 0.1px;}

.label-large {font-size: var(--label-large);
font-family: var(--font-primary);
font-weight: var(--weight-medium);
line-height: 32px;
letter-spacing: 0.1px;}

.label-medium {font-size: var(--label-medium);
font-family: var(--font-primary);
font-weight: var(--weight-medium);
line-height: 16px;
letter-spacing: 0.5px;}

.label-small {font-size: var(--label-small);
font-family: var(--font-primary);
font-weight: var(--weight-medium);
line-height: 14px;
letter-spacing: 0.5px;}

.body-large {font-size: var(--body-large);
font-weight: var(--weight-regular);
line-height: 24px;
letter-spacing: 0.25px;}

.body-medium {font-size: var(--body-medium);
font-family: var(--font-primary);
font-weight: var(--weight-regular);
line-height: 20px;
letter-spacing: 0.25px;}

.body-small {font-size: var(--body-small);
font-family: var (--font-primary);
font-weight: var(--weight-regular);
line-height: 16px;
letter-spacing: 0.4px;}



.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px; 
    right: 10px; 
}
.material-symbols-outlined {
    width: 1rem;
    height:1rem;
    display:block;
    font-variation-settings: Fill=0 'wght' 400 'GRAD' 0; 
}


.topbar {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-incline: 16px;
    z-index: 4;
}

/* Adjust the size of the theme button images */
.theme-btn img {
    width: 40px;
    height: 40px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 1.2s;
}
.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
}


/* Hide light mode icon by default */
.material-symbols-outlined-light {
    display: none;
}

/* Show the appropriate icon based on the theme */
[data-theme="dark"] .material-symbols-outlined-dark {
    display: block;
}

[data-theme="dark"] .material-symbols-outlined-light {
    display: none;
    background-color: #333;
}

[data-theme="light"] .material-symbols-outlined-dark {
    display: none;
}

[data-theme="light"] .material-symbols-outlined-light {
    display: block;
    background-color: #fff;
}

[data-theme="light"] .theme-btn .light,
[data-theme="dark"] .theme-btn .dark {
    display: none;
}

.hero {
    margin-top: 70px; /* Adjust the top margin as needed */
    margin-left: -30px; /* Adjust the left margin as needed */
}

.hero-content {
    margin-left:40px;
}
.hero-banner {
    width: 100%; /* Ensure the image takes the full width of the container */
    max-width: 240px; /* Set a maximum width for the image */
    height: auto; /* Maintain the aspect ratio */
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.email-light, .phone-light{
    display: none;
}

[data-theme="dark"] .email-dark,
[data-theme="dark"] .phone-dark {
    display: block;
}

[data-theme="dark"] .email-light,
[data-theme="dark"] .phone-light {
    display: none;
}

[data-theme="light"] .email-dark,
[data-theme="light"] .phone-dark {
    display: none;
}

[data-theme="light"] .email-light,
[data-theme="light"] .phone-light {
    display: block;
}
[data-theme="dark"] .hero-content,
[data-theme="dark"] .label-large,
[data-theme="dark"] .section-subtitle,
[data-theme="dark"] .display-small,
[data-theme="dark"] .body-large {
    color: #fff;
}


/* Modal Popup Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Set width for the square */
    height: 300px; /* Set height for the square */
    text-align: center;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-image {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 20px;
    align-items: center;
}

.popup-text {
    font-weight: bold;
    color: black;
}

.title {font-size: 2rem;
margin-top: 10px; /* Adjust the top margin as needed */
margin-bottom: 10px; /* Adjust the bottom margin as needed */
padding-top: 0; /* Adjust the top padding as needed */
padding-bottom: 0; /* Adjust the bottom padding as needed */
}

.chip {
    height: 40px; /* Adjust the height as needed */
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-inline: 16px; 
    border: 1px solid var(--outline);
    border-radius: 20px; /* Adjust the border radius as needed */
}

.material-symbols-outlined {
    display: flex;
    align-items: center;
}

.chip img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

.label-large {
    font-size: 1rem; /* Adjust the font size as needed */
    margin-left: 5px; /* Move the number to the right a bit */
}
.section {
    padding-block: var(--section-padding);
}
.container {padding-inline: 16px;}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: transparent;
    overflow: hidden;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .container {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.hero-banner{
    width: 240px;
    height: auto;
    border-radius: var(--radius-circle);
}

.rolling-bar {
    width: 70%;
    background-color: rgb(241, 241, 239);
    overflow: hidden;
    position: relative;
    height: 40px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px; /* Rounded edges */
    padding: 0 10px; /* Padding for the rounded edges */
    margin: 10px auto; /* Center the bar horizontally */
}
.rolling-text p {
    margin-right: 50px; /* Adjust the spacing between rolling text */
}

@keyframes rolling {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.rolling-text {
    display: inline-block;
    white-space: nowrap;
    gap: 100px;;
    animation: rolling 50s linear infinite; 
}

.rolling-text span {
    display: inline-block;
    padding-right: 100px; /* Adjust the spacing between rolling text */
}

[data-theme="dark"] .rolling-bar {
    background-color: #faf6f6;
    color: #fff;
}
[data-theme="light"] .rolling-bar {
    background-color: #060606;
    color: rgb(251, 248, 248);
}
[data-theme="dark"] .rolling-text {
    color: rgb(11, 10, 10);
}

[data-theme="light"] .rolling-text {
    color: rgb(251, 248, 248);
}

.btn_wrapper {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

[data-theme="dark"] .about-card{
    color:#fff
}

.about-card{
    background-color: var(--surface--container-low);
    color: var(--on-surface-variant);
    margin-inline:16px;
    padding: 16px;
    border-radius: var(--radius-large);
    box-shadow: var(--elevation-2);
}

.about-card .card-title {
    color: var(--on-surface);
}

.about-card .card-text {
    margin-block:12px;
    padding-block:12px;
    border-block:1px solid var(--outline-variant);
}

.about-list {
    display:grid;
    gap:12px;
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;;
    gap: 15px; /* Adjust the gap as needed */
}

.section-subtitle {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -0.0px;
}

[data-theme="dark"] .about-card {
    background-color: #202020;
}

.primary-tabs{
    margin-top: 10px;
    background: var(--background);
    scroll-margin-block-start: 24px;
    margin-inline: 16px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border-block-end:1px;
    border-block-end: var(--outline-variant);
}

.tab-btn {
    height:48px;
    width:100%;
    display:grid;
    place-items: center;
    background-color: var(--surface);
    color:var(--on-surface-variant);
    --state-layer-bg:var(--on-surface-variant);
}

.tab-btn.active {color:var(--primary);
    --state-layer-bg:var(--primary);
}

.tax-text {
    position:relative;
    height:46px;
    line-height:48px;
}


.tab-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    transition: color 0.3s ease;
    height: 48px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--surface);
    color: var(--on-surface-variant);
}

.tab-btn:hover {
    color: #007BFF;
    background-color: #96afc8;
}

.tab-btn.active {
    color: #007BFF; /* Active color */
}

.tab-btn.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    opacity: 0.5; /* Underline with opacity */
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
    gap: 20px; /* Adjust the gap as needed */
    padding: 20px; /* Add padding around the project list */
    border-radius: 10px; /* Rounded edges for the project list */
}

.card {
    background-color: var(--surface);
    border-radius: 10px; /* Rounded edges */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}

.card-banner {
    position: relative;
    transition: opacity 0.3s ease;
}

.card-banner img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensure the full image is shown, shrinking it if needed */
    border-radius: 10px; /* Rounded edges for the images */
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: opacity 0.3s ease;
}

.card-content .label-large.project {
    display: inline-block;
    font-size: large;
    font-weight: 700;
    background-color: yellowgreen; /* Highlight for project */
    color: var(--on-primary);
    padding: 5px 10px;
    border-radius: 20px; 
    margin-bottom: 10px;
}

.card-content .label-large.software {
    display: inline-block;
    font-size: large;
    font-weight: 700;
    background-color: lightblue; /* Highlight for software */
    color: var(--on-primary);
    padding: 5px 10px;
    border-radius: 20px; 
    margin-bottom: 10px;
}

.card-content .title-large {
    font-size: 1.5rem;
    color: var(--on-surface);
    margin: 0;
    display: inline-block;
    font-size: medium;
    font-weight: 600;
    background-color: lightpink; /* Light pink background */
    padding: 5px 10px;
    border-radius: 20px; /* Rounded edges */
}

.card:hover .card-banner,
.card:hover .card-content {
    opacity: 0;
}

.card:hover .description {
    display: block;
    opacity: 1;
}
[data-theme="dark"] .card {
    background-color: #e1e0e0;
    box-shadow: #e1e0e0 0px 20px 30px -10px;
}
[data-theme="dark"] .title-large {
    color: #007BFF;
}

[data-theme="light"] .card {
    background-color: #e1e0e0;
    box-shadow: #0a0a0a 0px 20px 30px -10px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Add this new CSS */
.description-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: black;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded edges */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    transition: opacity 0.3s ease;
    z-index: 10; /* Ensure it is on top */
}

.card:hover .description-text {
    display: block;
    opacity: 1;
}

[data-theme="light"] .tab-btn {
    background-color: #e1e0e0;
}

.popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-image {
    width: 150px; /* Smaller width */
    height: 150px; /* Smaller height */
    border-radius: 10px;
    margin-bottom: 20px;
}

.popup-text {
    font-size: 1.2rem;
    color: black;
}
